<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.github.plastix.forage"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.sensor.compass"/>

    <application
        android:name=".ForageApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.cachelist.CacheListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.cachedetail.CacheDetailActivity"
            android:label=""
            android:parentActivityName=".ui.cachelist.CacheListActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"/>
        <activity
            android:name=".ui.compass.CompassActivity"
            android:label="@string/compass_screen_title"
            android:parentActivityName=".ui.cachedetail.CacheDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.map.MapActivity"
            android:label="@string/map_screen_title"
            android:theme="@style/AppTheme.NoActionBar.Transparent"/>
        <activity
            android:name=".ui.navigate.NavigateActivity"
            android:label="@string/navigate_screen_title"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Register Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY"/>

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/login_screen_title"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="forage"
                    android:scheme="app"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.log.LogActivity"
            android:label="@string/log_screen_title"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/about_screen_title"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>